<div class="footer" id="footer">
  <p class="copyright" id="copyright">Copyright &copy; <%= year %>, Storize.</p>
  <div class="icon">
    <a href="https://www.linkedin.com/in/leonardo-lim" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="icon">
    <a href="https://www.github.com/leonardo-lim" target="_blank"><i class="fab fa-github"></i></a>
  </div>
  <div class="icon">
    <a href="https://www.instagram.com/leonardolim78" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
</div>