<div class="container">
  <div class="row min-vh-100 d-flex align-items-center text-black">
    <div class="col-lg-6 col-12">
      <img src="/img/motorcycle.png" class="d-block ms-lg-auto m-auto" alt="Motorcycle">
    </div>
    <div class="col-lg-6 col-12">
      <h1 class="mb-3 text-lg-start text-center">Login</h1>

      <% if (message.length) { %>
        <div class="alert alert-success w-75 py-2 mb-3 m-auto float-lg-start" role="alert"><%= message %></div>
      <% } %>

      <% if (error.length) { %>
        <div class="alert alert-warning w-75 py-2 mb-3 m-auto float-lg-start" role="alert"><%= error %></div>
      <% } %>

      <form action="/login" method="POST" class="text-lg-start text-center">
        <div class="form-group mb-3">
          <span class="me-2 mt-1 position-absolute"><i class="fa fa-user text-gold"></i></span>
          <input type="text" class="form-control bg-transparent w-75 ps-4 border-0 border-bottom rounded-0 d-inline" id="username" name="username" placeholder="Enter your username">
        </div>
        <div class="form-group mb-3">
          <span class="me-2 mt-1 position-absolute"><i class="fa fa-lock text-gold"></i></span>
          <input type="password" class="form-control bg-transparent w-75 ps-4 border-0 border-bottom rounded-0 d-inline" id="password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit" class="btn btn-gold w-75 mb-2"><i class="fa fa-sign-in"></i> Login</button>
        <a href="/" class="btn btn-beige w-75 mb-3"><i class="fa fa-arrow-left"></i> Back</a>
        <p>Don't have an account? <a href="/register" class="register-link text-gold">Register</a></p>
      </form>
    </div>
  </div>
</div>