<div class="container">
  <div class="row min-vh-100 pt-5 d-flex align-items-center text-black">
    <div class="col-lg-7 col-12">
      <h1 class="tagline">Your reliable and</h1>
      <h1 class="tagline">most updated</h1>
      <h1 class="tagline">shopping site</h1>
      <a href="/products" class="btn btn-gold mt-3">Explore <i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="col-lg-5 col-12">
      <img src="img/scrolling.png" class="d-block ms-auto" alt="Scrolling">
    </div>
  </div>
</div>