<div class="container">
  <div class="row min-vh-100 pt-5 d-flex align-items-center text-black">
    <div class="col-lg-6 col-12">
      <img src="/img/scrolling.png" class="d-block ms-lg-auto m-auto" alt="Scrolling">
    </div>
    <div class="col-lg-6 col-12 text-lg-start text-center">
      <h1 class="status">4 <i class="fa fa-frown"></i> 4</h1>
      <h5>Looks like the page you're looking for doesn't exist</h5>
      <a href="/" class="btn btn-gold mt-3"><i class="fa fa-arrow-left"></i> Go Back</a>
    </div>
  </div>
</div>