* {
  font-family: 'Poppins', sans-serif;
}

/* Additional */
.bg-black {
  background-color: #000 !important;
}

.text-black {
  color: #000 !important;
}

.text-gold {
  color: #bfbe58 !important;
}

.btn-gold {
  background-color: #bfbe58 !important;
  color: #fff !important;
  box-shadow: rgba(149, 157, 165, .2) 0 8px 24px;
}

.btn-gold:hover {
  background-color: #a3a250 !important;
}

/* Home */
.tagline, .status {
  font-size: 4vw;
}

img {
  height: 35vh;
}

@media (min-width: 576px) {
  img {
    height: 50vh;
  }
}

@media (min-width: 992px) {
  img {
    height: 65vh;
  }
}

/* Footer */
.footer {
  background-image: linear-gradient(45deg, #BFBE58, #DAD992);
  color: #fff;
  padding: 50px 0;
  position: relative;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer .copyright {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer .icon {
  width: 35px;
  height: 35px;
  margin: 0 20px;
  display: inline-block;
  line-height: 35px;
  border-radius: 10px;
}

.footer .icon:hover {
  background-color: #fff;
}

.footer .icon:hover a {
  color: #BFBE58;
}

.footer .icon a {
  color: #fff;
  font-size: 20px;
}