<nav class="navbar navbar-expand-lg navbar-light bg-transparent position-absolute w-100 mt-lg-5 mt-2 text-black">
  <div class="container">
    <a class="navbar-brand fs-1 text-gold" href="/">Storize</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-lg-0 mt-2 pb-lg-0 pb-3 rounded" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active fs-5 mx-3" href="/products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-5 mx-3" href="/about">About</a>
        </li>
      </ul>
      <form class="d-flex ms-auto">
        <% if (isAuthenticated) { %>
          <a href="/users/cart" class="btn btn-gold ms-3"><i class="fa fa-shopping-cart"></i></a>
          <div class="dropdown ms-3">
            <button class="btn btn-gold dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"><%= name %></button>
            <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="dropdownMenuButton">
              <li><a href="/users/<%= username %>" class="dropdown-item"><i class="fa fa-user"></i> Profile</a></li>
              <li><a href="/logout" class="dropdown-item"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
          </div>
        <% } else { %>
          <a href="/login" class="btn btn-gold ms-3"><i class="fa fa-sign-in"></i> Login</a>
        <% } %>
      </form>
    </div>
  </div>
</nav>